body {
    background: linear-gradient(
        135deg,
        #909390,
        #111111
         #111111
    );

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
    margin: 60px;
    background-color: rgb(79, 77, 77);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}